// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), url(/fonts/PTSans-Regular.ttf) format("truetype");
  }

  #app{
    // height 100vh - height navbar
    height: calc(100vh);
    display: flex; 
    flex-direction: column;
  }

.card-header{
    background-color: #fff0!important;
}

// PLAY CARDS
.play-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px 50px;
  grid-template-areas:
    "img"
    "year";
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-height: 500px;
}

.play-card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.play-card-image {
  grid-area: img;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0; 
  object-fit: cover;
  object-position: center;
}

.play-card-year {
  grid-area: year;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #f39200!important;
  margin: 0;
}

// ROLE CARDS
.role-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px 100px;
  grid-template-areas:
    "img"
    "cast";
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-height: 550px;
  width: 100%;
}

.role-card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.role-card-image {
  grid-area: img;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0; 
  object-fit: cover;
  object-position: center;
}

.role-card-cast {
  grid-area: cast;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #f39200!important;
  margin: 0;
}


.anchor-no-dec{
  text-decoration: none!important;
}


.sponsor-section{
  background-color: white;
}

.link-button {
  h3 {
    margin: 0;
    color: white;
  }
  padding: 10px 20px; 
  max-width: 700px;
  background-color: #b32424;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.link-button:hover {
  opacity: .8;
}

.track-grid{
  cursor: pointer;
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin: 10px;
  grid-template-areas: 
    "img title"
    "img artist";

  .track-image{
    grid-area: img;
    width: 64px;
    height: 64px;
    border-radius: 5px 5px 5px 5px; 
    object-fit: cover;
    object-position: center;
  }

  .track-title{
    grid-area: title;
    font-size: 1rem;
    display: flex;
    align-items: end;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    color: #f39200!important;
    margin: 0 10px;
  }

  .track-artist{
    grid-area: artist;
    font-size: 0.8rem;
    display: flex;
    align-items: start;
    justify-content: left;
    font-weight: 700;
    color: #f39200!important;
    margin: 0 10px;
  }
}

.track-grid:hover{
  opacity: .6;
}

.sound-grid{
  cursor: pointer;
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 10px;
  grid-template-areas: 
  "img title";
  
  .sound-image{
    grid-area: img;
    width: 64px;
    height: 64px;
    border-radius: 5px 5px 5px 5px; 
    object-fit: cover;
    object-position: center;
  }
  
  .sound-title{
    grid-area: title;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    color: #f39200!important;
    margin: 0 10px;
  }
}

.sound-grid:hover{
  opacity: .6;
}

.mixer-img-pause{
  max-height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  cursor: pointer;
}

.mixer-img-pause:hover{
  opacity: .6;
}



.light-grid{
  cursor: pointer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 10px;
  grid-template-areas: 
  "img title";
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  .light-title{
    grid-area: title;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    color: #f39200!important;
    margin: 0 10px;
  }
}

.announcement {
  border: 0;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.light-grid:hover{
  opacity: .6;
}

.footer {
  background-color: #b32424;
  justify-content: center;
  margin-top: auto;

  .imprint{
    background-color: #b32424;
    border: none;
    color: white;
    margin: 0;
  }
  
}